main{
    width: 100%;
    height: 100%;
}
body{
    background-color: black;
}
.bloque{
    justify-content: center;
}
.carrusel{
    display: flex;
}
.carrusel_texto {
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    padding: 0;
}
#carrusel_texto2{
    margin-left: 15%;
    margin-bottom: 18%;
}
#carrusel_texto3{
    margin-left: 35%;
}
.carrusel_img {
    object-fit: cover;
    width: 100%;
    height: auto;
    filter: brightness(25%);
}
.titulo_carrusel{
    font-size: xx-large;
}
.texto_carrusel{
    font-size: large;
}

.metal-mania-regular {
  font-family: "Metal Mania", system-ui;
  font-weight: 400;
  font-style: normal;
}

.lora {
  font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.card_box{
    display: flex;
    justify-content: space-between;
}

.card_aux{
    margin-top: 2%;
}
.alineamiento{
    height: 100%;
}
.linea_piola{
    height: 1.5px;
    width: 90%;
    margin-bottom: 10px;
    background-color: white;
}

.container_linea_piola{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
h1{
    color: white;
}
.titulo{
    width: 35%;
    margin-right: 70%;
    margin-left: 20%;
    margin-top: 10%;
}
footer{
    background-color: rgba(43,48,53,1);
    height: 60px;
    display:flex;
    justify-content: space-around;
}
.icono{
    height: 30px;
    width: 30px;
}
#logos{
    display: flex;
    justify-content: space-between;

    padding-top: 20px;
    margin-right: 1%;
}
#copyright{
    margin:0;
    color:white; 
    padding-top: 35px;
}
@media(max-width:440px){
    .carrusel_texto {
        top: 0;
        bottom: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 35%;
        padding: 0;
    }
}
@media(max-width: 775px){
    .titulo_carrusel{
        font-size: x-large;
    }
    .texto_carrusel{
        font-size: medium;
    }
}
@media(max-width: 483px){
    .titulo_carrusel{
        font-size: large;
    }
    .texto_carrusel{
        font-size: small;
    }
    .card_box{
        display: flex;
        align-items: center;
        flex-direction: column;
        width: 90%;
    }
    .card_aux{
        margin-top: 5%;
    }
}
@media(max-width: 392px){
    .titulo_carrusel{
        font-size: medium;
    }
    .texto_carrusel{
        font-size: x-small;
    }
    #logos{
        display: none;
    }
}
@media(max-width:500px){
    footer{
        background-color: rgba(43,48,53,1);
        display:flex;
        height: auto;
        flex-direction: column;
        align-items: center;
        padding-bottom: 10px;
    }
    #copyright{
        margin:0;
        color:white; 
        padding-top: 0;
    }
}


/*medias del texto del carrusel: 775 a xlarge el titulo y texto a medium, 
483 a large el titulo y small el texto, 392 a medium el titulo y xsmall el texto*/